// Navbar
.lab-navbar {
    a {
        margin-right: 2rem;
        font: {
            family: 'MarkPro';
            weight: 500;
            style: normal;
            size: .75rem;
        }
        ;
        text: {
            transform: uppercase;
        }
        letter-spacing: 0.05rem;
    }
}