<nav class="lab-sidenav">
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined">
                fiber_manual_record
            </i>
        </a>
    </span>
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined">
                fiber_manual_record
            </i>
        </a>
    </span>
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined">
                fiber_manual_record
            </i>
        </a>
    </span>
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined">
                fiber_manual_record
            </i>
        </a>
    </span>
</nav>