<nav class="lab-sidenav">
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined" routerLinkActive="menu-active" routerLink="/">
                fiber_manual_record
            </i>
        </a>
    </span>
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined" routerLink="/about">
                fiber_manual_record
            </i>
        </a>
    </span>
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined" routerLink="/projects">
                fiber_manual_record
            </i>
        </a>
    </span>
    <span class="lab-sidenav-item">
        <a class="lab-sidenav-tile">
            <i class="material-icons-outlined" routerLink="/contact">
                fiber_manual_record
            </i>
        </a>
    </span>
</nav>