// View | Common
.lab-view {
    position: relative;
    overflow-y: auto;
    height: 100%;
}

.lab-view__content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100%;
    p {
        font: {
            size: 3.2rem;
        }
        ;
    }
}