<nav class="lab-navbar">
    <span class="lab-navbar-item">
        <a class="lab-navbar-tile" routerLinkActive="menu-active" routerLink="/">
            home
        </a>
    </span>
    <span class="lab-navbar-item">
        <a class="lab-navbar-tile" routerLink="/about">
            about
        </a>
    </span>
    <span class="lab-navbar-item">
        <a class="lab-navbar-tile" routerLink="/projects">
            projects
        </a>
    </span>
    <span class="lab-navbar-item">
        <a class="lab-navbar-tile" routerLink="/contact">
            contact
        </a>
    </span>
</nav>